{% extends "../include/base.html" %}
{% load static %}
{% block title %} Sorteio {% endblock %}

{% block style %}
<link href="{% static 'app_draw/css/index.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<main class="form-sorteio">
  <form action="/" method="post">
    <h1 class="h3 mb-3 fw-normal">Sortear</h1>
    {% csrf_token %} {{ form.non_field_errors }}
    <div class="form-floating">
      {{ form.draw_name.errors }}{{ form.draw_name }}
      <label for="{{ form.draw_name.id_for_label }}">Nome do Sorteio</label>
    </div>
    <div class="form-floating">
      {{ form.quantity.errors }}{{ form.quantity }}
      <label for="{{ form.quantity.id_for_label }}"
        >Quantidade de Vencedores</label
      >
    </div>
    <div class="form-floating">
      {{ form.participants.errors }} {{ form.participants }}
      <label for="{{ form.participants.id_for_label }}"
        >Participantes</label
      >
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">
      Sortear
    </button>
  </form>
</main>
{% endblock %}